html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1d1f22;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.moveable-line {
  visibility: hidden;
}